page-fabu {

}
.moren{
    color: silver;
    display: inline-block;
    margin-left: 20px;;
}
.title1{
    color: silver;
    padding-top:10px;
}
.context{
    height: 54px;
    background-color: rgb(245, 243, 243);
    padding-left:10px;
    line-height: 54px;
    margin-top: -30px;
}
.tubiao{
    width:35px;
    height: 35px;
    margin-left: 15px;
}
.ion-ios-information-circle:before {
    content: "\f1a0";
    color:#fedb47;
}
